<h2 mat-dialog-title>IPs disponibles para el segmento {{ data.segment }}</h2>
<mat-dialog-content *ngIf="!showForm">
  <mat-list>
    <mat-list-item *ngFor="let ip of data.ips" (click)="selectIp(ip)" style="cursor: pointer;">
      {{ ip }}
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!showForm">  
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>

<mat-dialog-content class="container" *ngIf="showForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'Agregar Usuario' }}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="createUser()" class="form-container">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Pablo Perez Garcia">
          <mat-error *ngIf="mensajeError">
            {{ mensajeError }}
          </mat-error>
          <mat-error *ngIf="userForm.get('name')?.hasError('required')">
            El nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Área</mat-label>
          <input matInput formControlName="area" placeholder="IT">
          <mat-error *ngIf="userForm.get('area')?.hasError('required')">
            El área es requerida
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Dirección IP</mat-label>
          <input matInput formControlName="ip_address" [value]="dataService.valueSource.getValue()" placeholder="172.16.52.85" readonly>
          <mat-error *ngIf="mensajeError">
            {{ mensajeError }}
          </mat-error>  
          <mat-error *ngIf="userForm.get('ip_address')?.hasError('required')">
            La dirección IP es requerida
          </mat-error>
          <mat-error *ngIf="userForm.get('ip_address')?.hasError('pattern')">
            Formato de IP inválido
          </mat-error>
          <button mat-button matSuffix (click)="openIpSelector()">IPs</button>                    
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>MAC Address</mat-label>
          <input matInput
                 placeholder="e.g. 71-84-C1-44-93-11"
                 formControlName="mac_address"
                 (input)="onMacInput($event)" />
          <mat-hint>Format: XX-XX-XX-XX-XX-XX</mat-hint>
        </mat-form-field>          

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">
            {{ 'Crear' }}
          </button>      
          

          <mat-dialog-actions align="end">
            <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
          </mat-dialog-actions>
        </div>

        <div class="error-message" *ngIf="mensajeError">
          {{ mensajeError }}
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>



