<div class="home-container">
    <!-- Hero Section -->
    <section class="hero">
      <h1>Bienvenido de vuelta {{ userName }} 👋 !</h1>
      <p>¿Qué cambios haremos hoy?</p>
    </section>
  
    <!-- Features Section -->
    <section class="features">
      <div class="feature-card">
        <h2>Lista de Usuarios</h2>
        <p>📄 Vista, Busqueda, Edición y Eliminación de Usuarios en la Red</p>
        <button class="styled-button" routerLink="/listado">Listado</button>
      </div>
      <div class="feature-card">
        <h2>Lista de IPs Disponibles</h2>
        <p>🔍 Verifica y Agrega usuarios usando la lista IPs disponibles en el sistema por segmentos</p>
        <button class="styled-button" routerLink="/ipcheck">IPs Disponibles</button>
      </div>
      <div class="feature-card">
        <h2>Agrega Usuarios</h2>
        <p>➕ Hay nuevos usuarios en la Red? Agregalos aquí!</p>
        <button class="styled-button" routerLink="/crear">Agregar</button>
      </div>
      <div class="feature-card">
        <h2>Agrega Administradores</h2>
        <p>⚙️ Genera nuevas cuentas para los administradores del sistema!</p>
        <button class="styled-button" routerLink="/regadmin">Agregar</button>
      </div>
      <div class="feature-card">
        <h2>Software de Red</h2>
        <p>👨‍💻 Enlaces de Descarga para Drivers de impresora y Software relacionado al mantenimiento de la Red</p>
        <button class="styled-button" routerLink="/descargas">Descargas</button>
      </div>      
    </section>
  </div>