<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sistema de Administración de Usuarios de la Red</mat-card-title>
    </mat-card-header>

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input 
            matInput 
            type="email" 
            formControlName="email"
            placeholder="email@ejemplo.com"
            (input)="onTyping()">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email es requirido
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
           Por favor ingrese un email valido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input 
            matInput 
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password">
          <button 
            mat-icon-button 
            matSuffix 
            type="button"
            (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            contraseña es requerida
          </mat-error>
        </mat-form-field>

        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div class="button-container">
          <button 
            mat-raised-button 
            color="primary" 
            type="submit"
            [disabled]="!loginForm.valid || loading">
            <mat-spinner 
              diameter="20" 
              *ngIf="loading"
              class="spinner">
            </mat-spinner>
            Login
          </button>          
          <!--<button 
            mat-button 
            type="button"
            (click)="registrar()">
            Registrar
          </button>-->
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>